﻿@model Labaratorochka.Models.Product.ProductSortAndPageModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>
<p>
    <a asp-controller="Product" asp-action="CreateProduct" asp-route-restaurantId="@Model.KitchenModel.Id">Create New</a>
</p>

<div>
    <h4>Ресторан</h4>
    <hr />
    <dt class="row">
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.KitchenModel.Name)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.KitchenModel.Name)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.KitchenModel.Content)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.KitchenModel.Content)
    </dd>
    </dt>
</div>



<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-controller="Product" asp-action="Index" asp-route-sortState=@Model.NameSort
                   asp-route-сurrentPage=@Model.ProductPageModel.PageNumber
                   asp-route-page=@Model.Page
                   asp-route-id=@Model.KitchenModel>
                    @Html.DisplayNameFor(model => model.Products[0].Name)
                </a>
            </th>
            <th>
                <a asp-controller="Product" asp-action="Index" asp-route-sortState=@Model.ContentSort
                   asp-route-сurrentPage=@Model.ProductPageModel.PageNumber
                   asp-route-page=@Model.Page
                   asp-route-id=@Model.KitchenModel.Id>
                    @Html.DisplayNameFor(model => model.Products[0].Content)
                </a>
            </th>
            <th>
                <a asp-controller="Product" asp-action="Index" asp-route-sortState=@Model.PriceSort
                   asp-route-сurrentPage=@Model.ProductPageModel.PageNumber
                   asp-route-page=@Model.Page
                   asp-route-id=@Model.KitchenModel.Id>
                    @Html.DisplayNameFor(model => model.Products[0].Price)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products[0].KitchenId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Products)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Content)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.KitchenId)
                </td>
                <td> </td>
            </tr>
        }
    </tbody>
</table>

