﻿@model IEnumerable<Labaratorochka.Models.Kitchen.KitchenModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="CreateKitchen">Create New</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Content)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                <a asp-controller="Product" asp-action="Index" asp-route-id="@item.Id">
                    @Html.DisplayFor(modelItem => item.Id)
                </a>
            </td>
            <td>
                <a asp-controller="Product" asp-action="Index" asp-route-id="@item.Id">
                    @Html.DisplayFor(modelItem => item.Name)
                </a>
            </td>
            <td>
                <a asp-controller="Product" asp-action="Index" asp-route-id="@item.Id">
                    @Html.DisplayFor(modelItem => item.Content)
                </a>
            </td>
            <td></td>
        </tr>
    }
    </tbody>
</table>

